/*Variabels*/
:root {
  --main-color: #212121;
  --blue-color: #2196f3;
  --main-backgroud: #2f303a;
  --white-color: #ffffff;
  --main-grey-color: #757575;
  --light-grey-color: #f5f4fa;
  --media-fill-color: #afb1b8;
  --card-border: 1px solid #eeeeee;
  --main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --black-color: #000000;
  --main-font-family: "Roboto", sans-serif;
  --second-font-family: "Raleway";
  --big-font-weight: 700;
}

/*Globals*/
body {
  font-family: var(--main-font-family);
  letter-spacing: 0.03em;
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
}

.header-contact__link:hover,
.header-contact__link:focus,
.header-conatct__link:active {
  color: var(--blue-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*HeaderSection*/

.modal {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s var(--main-transition-timing-function), transform 2s var(--main-transition-timing-function);
}

.modal__inner {
  position: absolute;
  width: 528px;
  height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0,1);
}

.modal__btn {
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
 }

.modal__btn svg:hover,
.modal__btn svg:active,
.modal__btn svg:focus {
  fill: var(--blue-color);
  transition: fill 250ms var(--main-transition-timing-function);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form input[type="checkbox"]:checked + .form__checkbox {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  }
  
  .form input[type="checkbox"] {
    display: none;
  }

.form__item {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-grey-color);
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-weight: var(--big-font-weight);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--main-color);
  padding-top: 40px;
  padding-bottom: 12px;
}

.form__agreement {
  font-size: 14px;
  line-height: 24px;
  color: var(--main-grey-color);
  gap: 10px;
  display:flex;
  align-items:center;
}

.form__agreement a {
  color: var(--blue-color);
}

.form__checkbox {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px solid var(--main-color);
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
}


.form__item svg {
  position: absolute;
  top: 50%;
  left: 10px;
}
 
.form__checkbox svg {
  fill: var(--white-color);
}

.form__item input,
.form__item textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: transparent;
  width: 448px;
}

.form__item input {
  margin-top: 4px;
  height: 40px;
  padding-left: 30px;
}

.form__item input:focus,
.form__item textarea:focus {
  border-color: var(--blue-color);
  outline: none;
  transition: border-color 250ms var(--main-transition-timing-function);
  cursor:pointer;
}

.form__item input:focus + svg {
  fill: var(--blue-color);
  transition: fill 250ms var(--main-transition-timing-function);
  cursor: pointer;
}
 
.form__item input:hover,
.form__item textarea:hover {
  cursor: pointer;
}

.form__item input:hover + svg {
  cursor: pointer;
}

.form__item textarea {
  margin-top: 4px;
  padding: 12px 16px;
}

.form__item textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__btn {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: var(--big-font-weight);
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color:var(--white-color);
  padding: 10px 80px;
  margin: 0 auto;
  border:none;
  cursor: pointer;
  }


.header-section {
  border-bottom: 1px solid #ececec;
}

.container--mod {
  display: flex;
}

.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  transition: color 250ms var(--main-transition-timing-function);
}

.header-contact__link .header-contact__icons {
  transition: fill 250ms var(--main-transition-timing-function);
}

.header-contact__link:hover .header-contact__icons,
.header-contact__link:active .header-contact__icons,
.header-contact__link:focus .header-contact__icons {
  fill: var(--blue-color);
}

.header-contact__icons {
  fill: var(--main-grey-color);
  display: flex;
  align-self: center;
  transition: color 250ms var(--main-transition-timing-function);
}

.header-contact__link {
  display: flex;
  gap: 10px;
  color: var(--main-grey-color);
}

.header-nav__item {
  position: relative;
}

.header-nav__item a::after {
  content: "";
  width: 100%;
  border: 2px solid var(--blue-color);
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  visibility: hidden;
  left: 0;
}

.header-nav__list a:focus::after,
.header-nav__list a.active::after {
  visibility: visible;
}

.header-nav__list,
.header-contact,
.header-nav,
.header-nav__logo,
.modal__btn svg {
  display: flex;
}

.header-nav__list {
  margin: 32px 0;
  gap: 50px;
}

.header-contact {
  gap: 40px;
  margin-top: 32px;
  margin-left: auto;
}

.header-nav {
  align-items: center;
}

.header-nav__logo {
  font-family: var(--second-font-family);
  font-weight: var(--big-font-weight);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--blue-color);
}

.header-nav__logo--part {
  color: var(--black-color);
  margin-right: 93px;
}

/*MainSection*/
.main-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 48, 58, 0.2)),
    url(../images/office.jpg);
  height: 600px;
  background-size: cover;
}

.main-content {
  text-align: center;
  padding-top: 200px;
}

.main-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 30px;
}

.main-section__btn {
  font-weight: var(--big-font-weight);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 19px 10px 20px;
  cursor: pointer;
}

/*AboutSection*/
.about-section {
  padding: 94px 0;
  display: flex;
  justify-content: space-between;
}

.about-section__title {
  font-weight: var(--big-font-weight);
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: left;
  margin-bottom: 10px;
}

.about-section__details {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.about-section__list {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.about-section__cards {
  background: var(--light-grey-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
}

.about-section__cards svg {
  margin-top: 25px;
}

/*WorkSection*/

.work-section__title {
  font-weight: var(--big-font-weight);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 50px;
}

.work-section__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.work-section__layer {
  font-weight: var(--big-font-weight);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
}

.work-section__item {
  position: relative;
}

/*OurTeamSection*/

.team-section__img-list > li {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section {
  background-color: var(--light-grey-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-section__title {
  font-weight: var(--big-font-weight);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 50px;
}

.team-section__img-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 10px;
  padding-top: 30px;
}

.team__job {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--main-grey-color);
  padding-bottom: 16px;
}

.team__media {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--main-transition-timing-function);
}

.team__media:hover,
.team__media:active,
.team__media:focus {
  background-color: var(--blue-color);
  cursor: pointer;
}

.team__social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.team__icon {
  fill: var(--media-fill-color);
  transition: fill 250ms var(--main-transition-timing-function);
}

.team__media:hover .team__icon {
  fill: var(--white-color);
}

/*CustomerSection*/

.customer-section__title {
  font-weight: var(--big-font-weight);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--main-color);
  padding-top: 94px;
  padding-bottom: 50px;
}

.customer-section__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.customer-section__logo {
  display: flex;
  width: 106px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.customer-section__item {
  display: flex;
  border: 1px solid var(--media-fill-color);
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color 250ms var(--main-transition-timing-function);
}

.customer-section__item .customer-section__icons {
  transition: fill 250ms var(--main-transition-timing-function);
}

.customer-section__icons {
  fill: var(--media-fill-color);
}

.customer-section__item:hover,
.customer-section__item:focus,
.customer-section__item:active {
  border-color: var(--blue-color);
  cursor: pointer;
}

.customer-section__item:hover .customer-section__icons {
  fill: var(--blue-color);
}

/*PortfolioMenuButtons*/
.button-menu__item:hover,
.button-menu__item:focus,
.button-menu__item:active {
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  background: var(--light-grey-color);
  transition: color, background-color 250ms var(--main-transition-timing-function);
}

.button-menu {
  display: flex;
  gap: 8px;
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
}

/*PortfolioCards*/
.projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 94px;
  justify-content: space-between; 
}

.card:hover {
  background: var(--white-color);
  border: var(--card-border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card {
  width: 370px;
  height: 404px;
  background: var(--white-color);
  border: var(--card-border);
  transition: background-color, border,
    box-shadow 250ms var(--main-transition-timing-function);
}

.projects li img {
  width: 370px;
  height: 294px;
}

.projects__title {
  font-weight: var(--big-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  padding-left: 24px;
  padding-top: 20px;
}

.projects__feature {
  font-size: 16px;
  line-height: 30px;
  color: var(--main-grey-color);
  padding: 4px 24px 20px;
}

.card__description {
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__overlayer {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 91px;
  top: 0;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms var(--main-transition-timing-function);
}

.card:hover .card__overlayer {
  transform: translatey(0);
  height: 294px;
}

/*FooterSection*/

.footer-section {
  background-color: var(--main-backgroud);
  height: 251px;
}

.footer-content {
  padding-top: 60px;
  display: flex;
  gap: 94px;
}

.footer-adress {
  gap: 28px;
  display: flex;
  flex-direction: column;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.87;
}

.address__location {
  color: var(--white-color);
  text-decoration: none;
  line-height: 1.87;
}

.header-nav__logo--mod span {
  color: var(--white-color);
}

.footer-media {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.footer-media__list {
  display: flex;
  gap: 10px;
}

.footer-media__title {
  font-weight: var(--big-font-weight);
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-media__icons {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--main-transition-timing-function);
}

.footer-media__icons svg {
  fill: var(--white-color);
}

.footer-media__icons:hover,
.footer-media__icons:focus,
.footer-media__icons:active {
  background-color: var(--blue-color);
  cursor: pointer;
}

.footer-subscription__title {
  font-weight: var(--big-font-weight);
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 15px;
}

.footer-subscription__btn {
background: var(--blue-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
font-weight: var(--big-font-weight);
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: var(--white-color);
padding: 10px 28px 10px 43px;
gap: 25px;
display: flex;
align-items: center;
cursor: pointer;
}

.footer-subscription__btn svg {
  fill: var(--white-color);
}

.footer-subscription__label input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--main-backgroud);
  flex-grow: 1;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
  
.footer-subscription {
  display: flex;
  flex-direction: column;
  width: 570px;
  gap: 20px;
}

.footer-subscription__label {
  display: flex;
  gap: 12px;
}

