.customer-section {
  &__title {
    font-weight: var(--big-font-weight);
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: var(--main-color);
    padding-top: 60px;
    padding-bottom: 25px;
  }

  &__list {
    display: flex;
    padding-bottom: 60px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &__logo {
    display: flex;
    width: 106px;
    height: 60px;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    border: 1px solid var(--media-fill-color);
    border-radius: 4px;
    padding: 16px 52px;
    transition: border-color 250ms var(--main-transition-timing-function);

    &:hover,
    &:focus,
    &:active {
      border-color: var(--blue-color);
      cursor: pointer;
    }

    &:hover {
      .customer-section__icons {
        fill: var(--blue-color);
      }
    }
  }

  &__item {
    .customer-section__icons {
      transition: fill 250ms var(--main-transition-timing-function);
    }
  }

  &__icons {
    fill: var(--media-fill-color);
  }
}

@media  screen and (min-width: 768px){
  .customer-section__item {
    padding: 16px 60px;
}
}

@media  screen and (min-width: 1200px){
  .customer-section {
    &__title {
       
      font-size: 36px;
      line-height: 42px;
      padding-top: 94px;
      padding-bottom: 50px;
    }

    &__list {
      justify-content: space-between;
      padding-bottom: 94px;
    }

    &__item {
     padding: 16px 32px;
  }
  }
}