:root {
    --main-color: #212121;
    --blue-color: #2196f3;
    --main-backgroud: #2f303a;
    --white-color: #ffffff;
    --main-grey-color: #757575;
    --light-grey-color: #f5f4fa;
    --media-fill-color: #afb1b8;
    --card-border: 1px solid #eeeeee;
    --main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --black-color: #000000;
    --main-font-family: "Roboto", sans-serif;
    --second-font-family: "Raleway";
    --big-font-weight: 700;
  }
  